@font-face {
  font-family: juana;
  src: url(../fonts/juana/Fontspring-DEMO-juana-blackit.otf);
  font-weight: 800;
}
@font-face {
  font-family: juana;
  src: url(../fonts/juana/Fontspring-DEMO-juana-boldit.otf);
  font-weight: 700;
}
@font-face {
  font-family: juana;
  src: url(../fonts/juana/Fontspring-DEMO-juana-semiboldit.otf);
  font-weight: 600;
}
@font-face {
  font-family: juana;
  src: url(../fonts/juana/Fontspring-DEMO-juana-extralightit.otf);
  font-weight: 200;
}
@font-face {
  font-family: juana;
  src: url(../fonts/juana/Fontspring-DEMO-juana-lightit.otf);
  font-weight: 300;
}
@font-face {
  font-family: juana;
  src: url(../fonts/juana/Fontspring-DEMO-juana-mediumit.otf);
  font-weight: 500;
}
@font-face {
  font-family: juana;
  src: url(../fonts/juana/Fontspring-DEMO-juana-regularit.otf);
  font-weight: 400;
}
@font-face {
  font-family: juana;
  src: url(../fonts/juana/Fontspring-DEMO-juana-thinit.otf);
  font-weight: 100;
}