@layer base {
    * {
        scrollbar-width: thin;
    }
    body {
        @apply font-base dark:bg-bodybg bg-bglight;
    }
    .page-wraper {
        @apply dark:bg-bodybg bg-bglight;
    }
    section {
        @apply relative;
    }
    h1, .h1, h2, .h2, h3, .h {
        @apply font-bold dark:text-title text-[#fff];
    }
    h4, .h4, h5, .h5, h6, .h6 {
        @apply font-bold dark:text-title text-[#fff];
    }
    p {
        @apply text-lightgreen dark:text-bodytext;
    }
    
}
@layer utilities {
    .content-counter::after {
      content: "0" counter(counter-item);
    }
  }
a{
    @apply duration-500 cursor-pointer;
}


textarea ,
input {
  @apply outline-0 outline-none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.theme-btn .active {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 50px;
  z-index: 1;
  transition: 0.5s;
}


/* POINTER */
#pointer-ring {
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  display: block;
  border: 1px solid var(--primary) !important;
  position: fixed;
  border-radius: 100px;
  z-index: 999999;
  pointer-events: none;
  transition: width 0.3s, height 0.3s;
}
#pointer-ring.active {
  width: 60px;
  height: 60px;
  opacity: 0.5;
  background-color: rgba(255,255,255,0.2);
  border: 0 !important;
}
.link-hover {
  @apply relative hover:after:w-full hover:after:left-0 hover:after:right-auto;
}
.link-hover::after {
  @apply content-[''] absolute h-px bg-secondary bottom-0 right-0 w-0 duration-500 ;
}

.svg-currentcolor path {
  stroke: currentColor;
}
.stackCard {
  transform-origin: 50% -115%;
}
#videoContainer iframe,
#videoContainer video {
    width: 100%;
    height: 676px;
    border: none;
    border-radius: 8px;
}

.anime-row .num-circle {
  transition: .3s all;
}
.anime-row.active .num-circle {
  background-color: var(--primary);
  color: #000;
}
.dzFormMsg .alert-success {
  @apply text-white bg-secondary p-5 mb-2.5;
}
.dzFormMsg .alert-danger {
  @apply text-white bg-red p-5 mb-2.5;
}
#scrollProgress.active {
    opacity: 1;
    pointer-events: auto;
}