@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes toTopFromBottom {
  49% {
    -webkit-transform: translate(100%, -100%);
  }

  50% {
    opacity: 0;
    -webkit-transform: translate(-100%, 100%);
  }

  51% {
    opacity: 1;
  }
}
@keyframes ScaleInOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes ripple-1 {
    0% {
        transform: scale(.9);
        opacity: 1
    }

    100% {
        transform: scale(1.3);
        opacity: 0
    }
}
@keyframes toLeftFromRight {
  49% {
    transform: translateX(100%); 
	}
  50% {
    opacity: 0;
    transform: translateX(-100%); 
	}
  51% {
    opacity: 1; 
	}
}
@keyframes toRightFromLeft {
  49% {
    transform: translateX(-100%); 
	}
  50% {
    opacity: 0;
    transform: translateX(100%); 
	}
  51% {
    opacity: 1; 
	}
}
@keyframes pxl-wide-menu-underline {
    0% {
        background-size: 100% 100%;
        background-position-x: 100%
    }

    100% {
        background-size: 0 100%;
        background-position-x: 100%
    }
}

@keyframes pxl-wide-menu-underline-hover {
    0% {
        background-position-x: 0;
        background-size: 0 100%
    }

    100% {
        background-position-x: 0;
        background-size: 100% 100%
    }
}
@keyframes headerSlideDown {
  0% {
    margin-top: -150px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes loaderAnim {
  100% {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}