@layer components {
    .btn {
        @apply inline-flex text-base font-medium rounded-full leading-normal py-3 px-3.75 h-13 items-center whitespace-nowrap relative overflow-hidden;
	}
	@media screen and (max-width: 567px) {
		.btn{
		  @apply py-2 px-3.5 h-12.5;
		}
	}
	@media screen and (max-width: 768px) {
		.btn {
			@apply text-lg;
		}
	}
	@media screen and (max-width: 567px) {
		.btn {
			@apply text-base;
		}
	}
	@keyframes anglerotate {
		from {
		  --angle: 0deg;
		}
		to {
		  --angle: 360deg;
		}
	}
	@property --angle {
		syntax: "<angle>";
		initial-value: 0deg;
		inherits: false;
	}
	.btn-black {
		@apply text-white bg-secondary duration-500 h-10;
	}
	.btn-black:hover {
		@apply text-secondary bg-primary;
	}
	
	.btn-sm {
		@apply !py-2.5 px-3.75 text-2sm;
	}
	.btn-icon {
		@apply size-10 p-0 justify-center;
	}
	.btn-hover::before{
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		top: 0;
		background-color: var(--heading-color);
		transform-origin: bottom left;
		-webkit-transition: all 250ms linear 0s;
		-khtml-transition: all 250ms linear 0s;
		-moz-transition: all 250ms linear 0s;
		-ms-transition: all 250ms linear 0s;
		-o-transition: all 250ms linear 0s;
		transition: all 250ms linear 0s;
		-webkit-transform: scale(0);
		-khtml-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		z-index: 0;
	}
	.btn-outline.btn-hover::before {
		background-color: #191B1D;
	}
	.btn-outline.primary.btn-hover::before {
		background-color: #E3FF75;
	}
	.btn.btn-hover:hover::before {
		-webkit-transform: scale(1);
		-khtml-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	.btn.button--stroke:hover, .btn.button--stroke:hover {
		@apply !text-primary;
	}
	.hover-primary.btn.button--stroke:hover, .hover-primary.btn.button--stroke:hover {
		@apply !text-secondary;
	}
	.button-flair {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		pointer-events: none;
		transform: scale(0);
	}
	.button-flair:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 200%;
		aspect-ratio: 1 / 1;
		background-color: var(--secondary);
		border-radius: 50%;
		transform: translate(-50%, -50%);
		pointer-events: none;
	}
	
	.hover-primary .button-flair:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 200%;
		aspect-ratio: 1 / 1;
		background-color: var(--primary);
		border-radius: 50%;
		transform: translate(-50%, -50%);
		pointer-events: none;
	}
	
	.button--stroke:hover .button__label {
		transition: color 0.15s 
		cubic-bezier(0.645, 0.045, 0.355, 1);
	}

	.button__label {
		position: relative;
		text-align: center;
		transition: color 0.05s 
		cubic-bezier(0.645, 0.045, 0.355, 1);
	}
	
	.button--stroke:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		pointer-events: none;
	}
	.button--stroke .button-flair {
		transform: scale(0);
		transform-origin: 0 0;
	}
	
}