.noUi-horizontal {
    @apply !h-1;
}
.noUi-connect {
    @apply dark:!bg-light !bg-lightgreen;
}
.noUi-target {
    @apply !bg-black/15 dark:!bg-white/15 !border-0 !shadow-none !rounded-none;
}
.noUi-horizontal .noUi-handle {
    @apply !size-2.25 outline-[3px] dark:outline-white outline-lightgreen !border-0 !rounded-[1px] after:hidden before:hidden;
}
.noUi-touch-area {
    @apply dark:bg-dark bg-white;
}
.noUi-tooltip{
    @apply hidden;
}
.noUi-horizontal .noUi-handle{
    @apply right-0.25 -top-0.75;
}
