.full-sidenav {
    @apply max-xl:fixed max-xl:h-screen max-xl:w-125 max-sm:!w-75 max-xl:-left-full max-xl:top-0 max-xl:opacity-0 max-xl:invisible  max-xl:bg-bodyfg max-xl:overflow-y-scroll max-xl:duration-700 xl:p-0 sm:p-10 p-5 z-10;
}
.full-sidenav.show {
    @apply max-xl:visible max-xl:opacity-100 max-xl:left-0;
}
.menu-btn .toogle-btn span:nth-child(1) {
    @apply w-6.25;
}
.menu-btn .toogle-btn span:nth-child(2) {
    @apply w-7.5;
}
.menu-btn .toogle-btn span:nth-child(3) {
    @apply w-3.75;
}
.menu-btn.open .toogle-btn span:nth-child(1) {
    @apply w-7.5 m-0 rotate-45;
}
.menu-btn.open .toogle-btn span:nth-child(2) {
    @apply opacity-0 m-0;
}
.menu-btn.open .toogle-btn span:nth-child(3) {
    @apply w-7.5 -rotate-45 m-0;
}
.menu-btn.open::after {
    @apply content-[''] bg-[rgba(0,0,0,0.6)] left-0 fixed -right-5 top-0 scale-100 w-full duration-500 origin-[top_right] ml-5 shadow-[0_0_0_1000px_rgba(0,0,0,0.6)];
}
.site-header .navbar {
    @apply xl:text-white  xl:pb-0 pb-5;
}
@media (max-width: 1200px) {
.site-header .navbar > .sub-menu-down > .sub-menu > li > a {
	@apply !px-7.5 !py-2.5 border-b border-black/10;
}
}
.site-header .navbar > li > a {
  @apply px-5 py-2.5 text-lg font-medium block w-full hover:text-primary xl:text-white relative;
}
.site-header .navbar .sub-menu-down > a {
  @apply pr-8.5;
}
.site-header .navbar > li > a:after{
	@apply content-[''] absolute h-0.5 w-0 bg-primary bottom-0 left-1/2 -translate-1/2 duration-500;
}
@media (min-width: 1200px) {
.site-header .navbar > li:hover > a:after{
	@apply content-[''] absolute h-0.5 w-3.75 bg-primary bottom-0 left-1/2 -translate-1/2;
}
}

@media (min-width: 1200px) {
.site-header.header-2 .navbar > li > a {
  @apply px-5 py-2.5 text-lg font-medium block w-full hover:text-primary dark:text-white text-secondary;
}
}

.site-header.header-2 .navbar .sub-menu-down > a {
	@apply pr-8.5;
}
.site-header.header-4 .navbar .sub-menu-down > a {
	@apply pr-8.5;
}

@media (min-width: 1200px) {
.site-header.header-4 .navbar > li > a {
  @apply px-5 py-2.5 text-lg font-medium block w-full hover:text-primary dark:text-white text-secondary;
}
}

@media (min-width: 1200px) {
.style-3.site-header .navbar > li > a {
  @apply px-5 py-2.5 text-lg font-medium block w-full hover:text-white;
}
}
@media (max-width: 1400px) {
.site-header .navbar > li > a {
  @apply text-base;
}
}

@media (max-width: 1199px) {
.site-header .navbar > li > a {
  @apply border-b border-black/20 !px-0 text-xl text-secondary py-3.5;
}
}
@media (max-width: 1200px) {
.site-header .navbar > li > a.dz-open i{
  @apply rotate-[90deg];
}
}
.site-header .navbar > li:hover > .sub-menu{
    @apply xl:opacity-100 xl:visible xl:translate-y-0;
}
.site-header .navbar .sub-menu{
    @apply xl:text-white xl:absolute xl:top-[calc(100%_+_2.5)] xl:left-0 xl:w-57.5 xl:rounded-md xl:bg-secondary xl:border xl:border-white/20 xl:p-1.25 xl:opacity-0 xl:invisible duration-500 xl:-translate-y-10 max-xl:max-h-0 max-xl:overflow-hidden;
}
.site-header .navbar > .sub-menu-down .sub-menu > li > a {
  @apply px-2.5 py-1.25 text-2sm font-normal block w-full hover:text-primary xl:text-white;
}
.site-header .sub-menu li > .sub-menu {
	@apply left-[104%] top-0 opacity-0 invisible;
}
.site-header .sub-menu li:hover > .sub-menu {
	@apply opacity-100 visible translate-y-0;
}
.sub-menu-down ,
.sub-menu-down a {
    @apply relative;
}
.is-fixed:not(.sticky-no) .main-bar-wraper {
    @apply fixed top-0 left-0 w-full bg-black/50  backdrop-blur-[10px];
    animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
}

.header-2.is-fixed:not(.sticky-no) .main-bar-wraper {
    @apply fixed top-0 left-0 w-full dark:bg-black/50 bg-white/50 backdrop-blur-[10px];
    animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
}
.header-4.is-fixed:not(.sticky-no) .main-bar-wraper {
    @apply fixed top-0 left-0 w-full dark:bg-black/50 bg-white/50 backdrop-blur-[10px];
    animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
}
.header-light.is-fixed:not(.sticky-no) .main-bar-wraper {
    @apply bg-black/50; 
	animation: 0.95s ease 0s normal forwards 1 running headerSlideDown; 
}
.site-header.is-fixed {
    @apply h-25 duration-500;
}
.site-header.is-fixed .overlay-navbar {
    @apply hidden;
}
.site-header.is-fixed .main-bar-wraper .container-fluid>div {
    @apply py-2.5;
}
body.menu-btn-open {
    @apply !h-screen overflow-hidden;
}
.style-3.site-header.header-2.is-fixed:not(.sticky-no) .main-bar-wraper{
	@apply dark:bg-white/50 bg-black/50;
}
.header-3.is-fixed:not(.sticky-no) .main-bar-wraper{
	@apply bg-white/50 dark:bg-black/50;
}
.header-3.site-header .navbar > li > a {
	@apply dark:text-white text-secondary;
}
.sub-menu .mega-menu-down .mega-mega li a{
	@apply py-0.5 px-2.5 !absolute w-full;
}
 .sub-menu .mega-menu-down .mega-mega{
	@apply visible opacity-0 duration-500;
}
@media (max-width: 1199px) {
.site-header .sub-menu > .sub-menu-down > .sub-menu{
	@apply visible opacity-100;
}
.site-header .sub-menu > .sub-menu-down > .sub-menu a{
	@apply !px-7.5 !py-2.5 border-b border-black/10;
}
}